.main-navigation {
    display: flex;
    justify-content: center;
    gap: 10em;

}

.main-navigation li {
    padding: 0.8em;
    height: 0.5em;
    list-style-type: none;
    font-size: 2em;
}

.main-navigation li a {
    color: blue;
    text-decoration: none;
}


.homeTitle {
    font-size: 5em;
    text-align: center;
    margin-top: 3em;
}

.homeDescription {
    font-size: 3em;
    text-align: center;
}


.searchBtn {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.3em;
    color: black;
    font-size: 0.6em;
    margin-left: 2em;
}




.cityDiv input {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}



#root {
    height: 100vh;
}

#searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    font-size: 3em;
    gap: 1em;
  
}


#searchForm button {
    margin: 0 auto;

}



.cityInfo {
    font-size: 1.6em;
    
}


.cityInfo p {
    font-size: 1.3em;
    text-align: center;
}



.weatherInfo {
    display: flex;
    justify-content: center;
    gap: 4em;
}


.nextDaysForecastBtn {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.5em;
    color: lightcoral;
    font-size: 2em;
}